.main{
    height: 40px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid;
    cursor: pointer;
}


.main p{
    font-size: 14px;
    color: var(--h4);
}


