.container{
    
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}
.notification{
    background-color: var(--bluebar);
    height: 40px;
    width: 100%;
    margin-top: 0;
}